{% extends 'core/base.html' %} {% block title %}.:About:.{% endblock%}

<!-- We load the background -->
{% block background %}{% load static%}{% static 'core/img/about-bg.jpg' %}{% endblock %}

<!-- Insertamos los headers -->
{% block headers %}
<h1>Sobre nosotros..</h1>
<span class="subheading">¿Quiénes somos?</span> {% endblock %}

<!-- Page container -->
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar border border-black" src="{% static 'core/img/1.png' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Asescom</h2>
        <p>
            Asescom nace de una necesidad que se presenta todos los semestres en gran parte del alumnado de la Escuela Superior de Cómputo. Los exámenes ordinarios y extraordinarios representan una gran dificultad y esto se debe en gran parte por la falta de asistencia
            a los alumnos cuando se presentan dudas o dificultades y que al mismo tiempo se ajuste a un horario personal, lo que genera una barrera para absorber el conocimiento. Ésta fue la principal motivación para crear una plataforma capaz de conectar
            a la comunidad estudiantil de la ESCOM con el objetivo de proporcionar un servicio de asesorías con un horario flexible y personal.
        </p>

        <h2>Nuestra misión</h2>
        <p>
            Proporcionar a nuestros usuarios una experiencia agradable, rápida y sencilla al momento de buscar asesoramiento en sus materias de primer nivel , así como promover el asesoramiento por parte de los alumnos a compañeros de primer nivel a través de nuestra
            aplicación
        </p>

        <h2>Nuestra visión</h2>
        <p>
            Consolidarnos como la empresa número 1 en la proporción de asesoramiento, adaptándonos a las necesidades de nuestros usuarios para ofrecer un mejor servicio.
        </p>
    </div>
</div>
{% endblock content %}